<h1><%= @title %></h1>

<ul>

<% @posts.each do |post| %>
  <li>
  	<span class="date"><%= post.created_at.strftime("%m-%d-%y") %></span>
  	<%= link_to post.title, post %>
  </li>
<% end %>

</ul>

<br />
