<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
	<b>Created at:</b>
	<%= @user.created_at.strftime("%-m-%-d %k:%M:%S") %>
</p>

<p>
	<b>Modified at:</b>
	<%= @user.updated_at.strftime("%-m-%-d %k:%M:%S") %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

